%li.chat-message
  .chat-message__header.clearfix
    %p.chat-message__name
      = current_user.name
    %p.chat-message__time
      = l message.created_at
  %p.chat-message__body
    = message.body
  - if message.image.present?
    = image_tag message.image.url
