.layout-notification
  .chat
    = render partial:'layouts/sidebar', locals: {groups: current_user.groups}
    .chat-main
      .chat-header.clearfix
        .chat-header--left
          %h2 group_name
          %p.chat-header__users
            Members:
            %span.chat-header__user
              user1
            %span.chat-header__user
              user2
        .chat-header--right
          = link_to 'Edit', edit_group_path(params[:group_id]), class: 'chat-header__edit-btn'
      = render partial: 'layouts/messages', locals: { messages: @messages}
