.chat-group-form
  %h1 新規チャットグループ
  =form_for [@group] do |f|
    %input{:name => "utf8", :type => "hidden", :value => "✓"}/
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        %label.chat-group-form__label{:for => "group_name"} グループ名
      .chat-group-form__field--right
        %input#chat_group_name.chat-group-form__input{:name => "group[name]", :placeholder => "グループ名を入力してください", :type => "text"}/
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        %label.chat-group-form__label{:for => "chat_group_チャットメンバー"} チャットメンバー
      .chat-group-form__field--right
        #chat-group-users
          #chat-group-user-22.chat-group-user.clearfix
            = collection_check_boxes(:users, :user_id, User.all, :id, :name) do |user|
              = user.label { user.check_box + user.text}
            -# %input{:name => "chat_group[user_ids][]", :type => "hidden", :value => "22"}/
            -# %p.chat-group-user__name seo_kyohei
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
      .chat-group-form__field--right
        %input.chat-group-form__action-btn{"data-disable-with" => "Save", :name => "commit", :type => "submit", :value => "Save"}/
        -# - binding.pry
